* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  text-decoration-line: none;
}
body {
  background: #0C0E11;
}
body .header {
  width: 100%;
  height: 7rem;
  background: rgba(32, 34, 37, 0.8);
  backdrop-filter: blur(1rem);
  box-sizing: border-box;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
}
body .header .headerLeft {
  display: flex;
  align-items: center;
}
body .header .headerLeft .selectBox {
  display: flex;
  align-items: center;
}
body .header .headerLeft .selectBox .selectBoxCell {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}
body .header .headerLeft .selectBox .selectBoxCell p {
  color: #ddd;
  margin-left: 0.8rem;
  font-size: 1.4rem;
}
body .header .headerLeft .selectBox .selectBoxCell img {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
body .header .headerLeft .selectBox .currSelect p {
  color: #FFD12C;
}
body .header .headerLeft .selectBox .currSelect::before {
  background-color: #FFD12C;
  content: '';
  height: 0.4rem;
  width: 7rem;
  position: absolute;
  bottom: 0;
}
body .header .headerLeft .logoBox {
  width: 8.1rem;
  height: 2.8rem;
  flex-shrink: 0;
}
body .header .languageBox {
  height: 3.2rem;
  flex-shrink: 0;
  border-radius: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
}
body .header .languageBox .custom-select {
  position: relative;
  display: inline-block;
}
body .header .languageBox .select-selected {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 13rem;
  height: 3.2rem;
  flex-shrink: 0;
  border-radius: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1.2rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}
body .header .languageBox .select-selected img {
  width: 1.4rem;
  height: 1.4rem;
}
body .header .languageBox .select-selected p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
}
body .header .languageBox .select-items {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
}
body .header .languageBox .select-items div {
  padding: 8px 16px;
  cursor: pointer;
}
body .header .languageBox .select-items div:hover {
  background-color: #ddd;
}
body .header .languageBox .addressBox {
  width: 21.3rem;
  height: 3.2rem;
  flex-shrink: 0;
  border-radius: 75px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
  margin-right: 2.4rem;
  user-select: none;
}
body .header .languageBox .addressBox .addressIcon {
  width: 1.6rem;
  height: 1.6rem;
  flex-shrink: 0;
  opacity: 0.6;
}
body .header .languageBox .addressBox .arrowIcon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
body .header .languageBox .addressBox p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}
body .accountPop {
  width: 34.3rem;
  height: 29rem;
  flex-shrink: 0;
  padding: 2.4rem;
  box-sizing: border-box;
  border-radius: 1.6rem;
  background: rgba(32, 34, 37, 0.8);
  box-shadow: 0px 0.4rem 0.4rem 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1rem);
  position: fixed;
  right: 25.4rem;
  top: 7.8rem;
  z-index: 999;
}
body .accountPop .accountPopTitle {
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}
body .accountPop .accountInfoBox {
  width: 29.5rem;
  height: 7.8rem;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 1.6rem;
  box-sizing: border-box;
  align-items: center;
  margin-top: 1.6rem;
}
body .accountPop .accountInfoBox .accountInfoBoxLeft p {
  color: #FFF;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}
body .accountPop .accountInfoBox .accountInfoBoxLeft span {
  color: #FFD12C;
  font-family: DIN Alternate;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 0.8rem;
  display: block;
}
body .accountPop .accountInfoBox .copyBtn {
  cursor: pointer;
}
body .accountPop .accountInfoBox .copyBtn img {
  width: 3.6rem;
  height: 3.6rem;
  flex-shrink: 0;
  margin-left: 2.4rem;
}
body .accountPop .accountInfoBox .viewBtn {
  cursor: pointer;
}
body .accountPop .accountInfoBox .viewBtn img {
  width: 3.6rem;
  height: 3.6rem;
  flex-shrink: 0;
  margin-left: 0.8rem;
}
body .accountPop .importAccountBtn,
body .accountPop .createNewAccountBtn {
  width: 29.5rem;
  height: 4.8rem;
  flex-shrink: 0;
  border-radius: 1.2rem;
  background: #FFD12C;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 1.6rem;
  cursor: pointer;
}
body .accountPop .importAccountBtn p,
body .accountPop .createNewAccountBtn p {
  color: #181719;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  margin-left: 0.8rem;
}
body .accountPop .importAccountBtn img,
body .accountPop .createNewAccountBtn img {
  width: 1.8rem;
  height: 1.8rem;
  flex-shrink: 0;
}
body .accountPop .createNewAccountBtn {
  background: rgba(255, 255, 255, 0.1);
}
body .accountPop .createNewAccountBtn p {
  color: #fff;
}
body .content {
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 7rem);
  overflow: hidden;
  position: relative;
  margin-top: 5rem;
}
body .content .balanceBox {
  width: 54.4rem;
  height: 58rem;
  flex-shrink: 0;
  border-radius: 2rem;
  overflow: hidden;
  background: #1C1E21;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
body .content .balanceBox .tabButtons {
  display: flex;
}
body .content .balanceBox .tabButtons .tabButton {
  background-color: #121418;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  width: 100%;
  width: 50%;
  height: 5.4rem;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8rem;
  font-weight: 600;
}
body .content .balanceBox .tabButtons .tabButton.active {
  background-color: transparent;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}
body .content .balanceBox .tabItem {
  display: none;
}
body .content .balanceBox .tabItem .sendBox {
  background: url(../../../assets/balance/balanceMask.png);
  background-size: 100% 100%;
  width: 54.4rem;
  height: 25.2rem;
  flex-shrink: 0;
  backdrop-filter: blur(1rem);
  overflow: hidden;
}
body .content .balanceBox .tabItem .sendBox .balance {
  color: #FFF;
  text-align: center;
  font-family: DIN Alternate;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.4rem;
  margin-top: 6rem;
}
body .content .balanceBox .tabItem .sendBox .sendBtnBox {
  padding: 0 8rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}
body .content .balanceBox .tabItem .sendBox .sendBtnBox .sendBtn {
  width: 18rem;
  height: 4.8rem;
  flex-shrink: 0;
  border-radius: 1.2rem;
  background: #2B67FF;
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.8rem;
  border: none;
}
body .content .balanceBox .tabItem .sendBox .sendBtnBox .receiveBtn {
  width: 18rem;
  height: 4.8rem;
  flex-shrink: 0;
  border-radius: 1.2rem;
  background: #2DC628;
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  border: none;
  line-height: 4.8rem;
}
body .content .balanceBox .tabItem .yourPortfolioBox {
  height: 6.2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
}
body .content .balanceBox .tabItem .yourPortfolioBox .yourPortfolio {
  color: #FFF;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}
body .content .balanceBox .tabItem .yourPortfolioBox .tokenBalance {
  color: rgba(255, 255, 255, 0.4);
  text-align: right;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}
body .content .balanceBox .tabItem .tokenCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  box-sizing: border-box;
  margin-top: 3.2rem;
}
body .content .balanceBox .tabItem .tokenCell .tokenCellLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .content .balanceBox .tabItem .tokenCell .tokenCellLeft img {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
body .content .balanceBox .tabItem .tokenCell .tokenCellLeft p {
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  margin-left: 0.8rem;
}
body .content .balanceBox .tabItem .tokenCell p {
  color: #FFF;
  text-align: right;
  font-family: DIN Alternate;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
}
body .content .balanceBox .tabItem .activeTitle {
  height: 6.8rem;
  padding: 0 2.4rem;
  box-sizing: border-box;
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6.8rem;
}
body .content .balanceBox .tabItem .activeCellBox .activeCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  box-sizing: border-box;
  height: 6.8rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
}
body .content .balanceBox .tabItem .activeCellBox .activeCell .activeCellLeft {
  display: flex;
  align-items: center;
}
body .content .balanceBox .tabItem .activeCellBox .activeCell .activeCellLeft img {
  width: 3.6rem;
  height: 3.6rem;
  flex-shrink: 0;
}
body .content .balanceBox .tabItem .activeCellBox .activeCell .activeCellLeft > div {
  margin-left: 1.6rem;
}
body .content .balanceBox .tabItem .activeCellBox .activeCell .activeCellLeft > div .transferName {
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}
body .content .balanceBox .tabItem .activeCellBox .activeCell .activeCellLeft > div .addressTo {
  display: flex;
  align-items: center;
}
body .content .balanceBox .tabItem .activeCellBox .activeCell .activeCellLeft > div .addressTo span {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}
body .content .balanceBox .tabItem .activeCellBox .activeCell .activeCellLeft > div .addressTo p {
  color: #FFF;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  margin-left: 0.8rem;
}
body .content .balanceBox .tabItem .activeCellBox .activeCell .activeCellRight {
  text-align: right;
}
body .content .balanceBox .tabItem .activeCellBox .activeCell .activeCellRight p {
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}
body .content .balanceBox .tabItem .activeCellBox .activeCell .activeCellRight span {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}
body .content .balanceBox .tabItem.active {
  display: block;
}
body .content .balanceBox .sureBtn {
  width: 49.6rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #FFD12C;
  border: none;
  margin-top: 4.2rem;
  cursor: pointer;
  margin-left: 2.4rem;
  position: absolute;
  bottom: 2.4rem;
}
body .content .balanceBox .sureBtn p {
  color: #181719;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}
body .errorBox {
  width: 42.4rem;
  height: 18.8rem;
  flex-shrink: 0;
  border-radius: 1.6rem;
  background: rgba(32, 34, 37, 0.8);
  box-shadow: 0px 0.4rem 0.4rem 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1rem);
  padding: 2rem;
  box-sizing: border-box;
  position: fixed;
  right: 10rem;
  bottom: 7rem;
}
body .errorBox .errorTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .errorBox .errorTitle .errorTitleLeft {
  display: flex;
  align-items: center;
}
body .errorBox .errorTitle .errorTitleLeft img {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
body .errorBox .errorTitle .errorTitleLeft p {
  color: #FF2626;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  margin-left: 1rem;
}
body .errorBox .errorTitle .errorTitleRight img {
  width: 2.8rem;
  height: 2.8rem;
  flex-shrink: 0;
}
body .errorBox .errorInfoBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body .errorBox .errorInfoBox .errorInfo {
  width: 31.2rem;
}
body .errorBox .errorInfoBox .errorInfo p {
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
body .errorBox .errorInfoBox .errorTips {
  width: 32.4rem;
  height: 5.6rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 1.2rem;
}
body .errorBox .errorInfoBox .errorTips p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}
